<div class="login-form">
  <form (submit)="onLogin()" [formGroup]="form">
    <h1>Continue with Test demo</h1>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput type="email" formControlName="user_id" />
      <mat-error *ngIf="form.get('user_id')?.hasError('required')">
        {{ 'Email is required' }}
      </mat-error>
      <mat-error *ngIf="form.get('user_id')?.hasError('user_id')">
        {{ 'Please enter a valid email address' }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        [type]="!hide ? 'password' : 'text'"
        formControlName="password"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        !hide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        {{ 'Password is required' }}
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary">
        Continue
      </button>
    </div>
  </form>
</div>
