
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@font-face {
  font-family: 'Circular';
  font-weight: 400;
  src: url('https://s3.givebrite.com/fonts/circular-book.woff') format('woff');
}


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$demo-green: (
  50: #e1f5eb,
  100: #b3e5ce,
  200: #81d4ae,
  300: #4ec38d,
  400: #28b674,
  500: #02a95c,
  600: #050505,
  700: #01984a,
  800: #018f41,
  900: #017e30,
  A100: #acffc4,
  A200: #79ffa0,
  A400: #46ff7c,
  A700: #2cff6a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$demo-blue: (
  50: #e0e5e7,
  100: #b3bdc2,
  200: #809199,
  300: #4d6570,
  400: #162e3a,
  500: #1a1c1d,
  600: #001f2e,
  700: #001a27,
  800: #001520,
  900: #000c14,
  A100: #5599ff,
  A200: #227aff,
  A400: #005fee,
  A700: #0055d4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angulardemo-primary: mat-palette($demo-green);
$angulardemo-accent: mat-palette($demo-blue);

// The warn palette is optional (defaults to red).
$angulardemo-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angulardemo-theme: mat-light-theme((
  color: (
    primary: $angulardemo-primary,
    accent: $angulardemo-accent,
    warn: $angulardemo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angulardemo-theme);

.mat-typography h1{
  color: #02a95c;
  font-weight: 600;
  letter-spacing: 1.5px;
}


